Django>=1.11,<1.12
Pyzotero==1.2.12
bibtexparser==0.6.2
django-extensions==1.7.9
django-model-utils==3.0.0
djangorestframework>=3.6,<3.7
fuzzywuzzy==0.15.0
lxml==3.8.0
psycopg2==2.7.1
requests==2.17.3
Unidecode==0.4.20
python-dateutil==2.6.0
python-Levenshtein>=0.12,<0.13
invoke
